#colorbox{
    
    display: flex;
    
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top:70px;
    background-color: #fff;
    padding: 1rem;


}
body{
    background-color: black;
}

h1{
    text-align:center;
    color: #f2f0f5;
margin-top:10%;
}

#colorbox span{
    display:inline-block;
    height:30px;
    width:30px;
    border-radius: 50%;
    cursor:pointer;

    
    
}